
<div class="day-notes-container">
  <h1 class="day-notes-header">notes for <mark class="note-mark"><%= @dayname.downcase %>...</mark></h1>

  <table>
    <% for note in @day.notes %>

    <tr>
      <td>
        <div class="individual-note-container-parent">
          <div class="individual-note-container-child">
            <div class="actual-note">
              <%= note.title %>
              <hr class="note-spacer-hr">
              <span class="note-description">
                <%= note.description %>
              </span>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </table>


    <!-- <form method="post" action="/notes/<%= note.id %>/delete">
      <input class"delete-icon" type="submit" style="background-image: url('https://www.materialui.co/materialIcons/action/delete_black_192x192.png'); width: 23px;">
    </form>
  </div> -->
</div>



<!-- <div class="edit-delete-container">
<img class="edit-icon" style="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png" width="23px">
<br><br>
<img class="delete-icon" src="https://www.materialui.co/materialIcons/action/delete_black_192x192.png" width="26px">
</div> -->
