<!-- search all of day & output the notes of that day -->
<% for note in @day.notes %>

  <p>Title: <%= note.title %></p>
  <p>Description: <%= note.description %></p>
  <hr>
<% end %>


<!--
for notes in day
print notes

quest advisor inner join
place.visitors
visitor.places


week 3 day 4 -->
