<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <link>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/planner/new">Create New Note</a>
      </li>
      <li>
        <a href="/days">day notes</a>
      </li>
      <li>
        <a href="/notes">all notes</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
