<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>To Do List</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/home-style.css">
  <link rel="stylesheet" type="text/css" href="/day-notes-style.css">
</head>
<body>





  <section id="content">


  <%= yield %>

  <!--- DAILY DOTS START --->

  <input type="checkbox" id="click-dot">
  <label for="click-dot">

    <% @days.each do |day| %>

      <a href="/days/<%= day.id %>">
        <img class="dot <%= day.day.downcase %>" src="/images/home-<%=day.day.downcase%>.svg">
      </a>
    <% end %>

    <img class="dot add-vanish" src="/images/home-add.svg">
  </label>

  <!--- DAILY DOTS END --->



  </section>
  </main>
</body>
</html>
