<form method="post" action="/students">
  <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first_name" />

  <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="last_name" />

  <label for="house-select">Select a house:</label> <!-- drop-down menu -->
    <select id="house-select" name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Slytherin">Slytherin</option>
    </select>

  <label for="age">Age:</label>
    <input id="age" type="number" name="age" />

  <label for="slogan">Slogan:</label>
    <input id="slogan" type="text" name="slogan" />

  <input type="submit" value="Add Student">

</form>
