a {
  text-decoration:none;
}
.day-dots-nav-container {
  position: absolute;
  margin: auto;
  top: 645px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 627px;
  height: 100px;
}
.day-dots-nav-container a {
  padding: 17.3px;
}
.day-notes-dot-nav { /* actual dot to click on */
  cursor: pointer;
}
.add-dot { /* actual dot to click on */
  cursor: pointer;
  z-index: 100;
  display: inline-block;
  position: fixed;
  margin: auto;
  top: -597px;
  right: 0;
  bottom: 0;
  left: 0;
}
.day-dot-add {
  position: absolute;
}
