<!-- search all of notes & print note title & description -->
<% for note in @notes %>

  <p>Title: <%= note.title %></p>
  <p>Description: <%= note.description %></p>

  <form method="post" action="/notes/<%= note.id %>/delete">
    <input type="submit" value="Delete Note"/>
  </form>

  <hr>

<% end %>
