
<form method="post" action="/planner">

  <label for="title">Title of note:</label>
  <input id="title" type="text" name="title_id" />

  <br>

  <label for="description">Description of note:</label>
  <input id="description" type="text" name="description_id" />

  <br>

  <label for="day">Select a day:</label>
  <select name="day_id" id="day">
    <option value="sunday">Sunday</option>
    <option value="monday">Monday</option>
    <option value="tuesday">Tuesday</option>
    <option value="wednesday">Wednesday</option>
    <option value="thursday">Thursday</option>
    <option value="friday">Friday</option>
    <option value="saturday">Saturday</option>
  </select>

  <br>

  <input type="submit" value="Add Note">

</form>
